:root {
    --bg-color: rgb(255, 255, 255);
    --border-color: rgba(0, 0, 0, 0.8);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --highlight-border: rgb(255, 215, 0);
    --highlight-bg: rgb(255, 255, 172);
    --text-color: rgb(0, 0, 0);
    --deck-bg: rgba(250, 235, 215, 1);
}

* {
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-image: url("/assets/images/table.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 85vw;
    height: 90vh;
}

.card-board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.deck-count {
    display: flex;
    padding: 12px 0 12px 0;
    width: 180px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--bg-color);
    border-bottom: 1px solid var(--bg-color);
}

.card-board__items {
    display: flex;
    gap: 8px;
}

.card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 140px;

    color: var(--text-color);

    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;

    box-shadow: var(--shadow-color) 0 4px 12px;
    transition: transform 0.25s ease;
    cursor: pointer;
    user-select: none;
}

.card__label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 17px;
    font-weight: 600;
}

.image {
    width: 18px;
    height: 18px;
}

.card__image_top-right, .card__image_bottom-left {
    position: absolute;
}

.card__image_top-right {
    top: 8px;
    right: 10px;
}

.card__image_bottom-left {
    bottom: 8px;
    left: 10px;
    transform: rotate(180deg);
}

.card__image_size-m {
    width: 50px;
    height: 50px;
}

.card.selected {
    background-color: var(--highlight-bg);
    border: 2px solid var(--highlight-border);
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 8px;
    transform: scale(1.03);
}

.field {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 420px;
    width: 60%;
    border-radius: 20px;
    cursor: pointer;
}

.player-1, .player-2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.player-cards {
    display: flex;
    gap: 7px;
    width: 77%;
}

.player-info {
    display: flex;
    flex-direction: column;
    width: 23%;
    font-size: 18px;
    gap: 10px;
    color: var(--bg-color);
}

.card__attacker {
    border: 2px solid rgb(224, 107, 107);
}

.card__defender {
    border: 2px solid rgb(129, 164, 129);
    background-color: rgb(185, 239, 185);
}

