:root {
    --bg-color: rgb(255, 255, 255);
    --border-color: rgba(0, 0, 0, 0.8);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --highlight-border: rgb(255, 215, 0);
    --highlight-bg: rgb(255, 255, 172);
    --text-color: rgb(0, 0, 0);
    --deck-bg: rgba(250, 235, 215, 1);
    --text-color-white: rgb(255, 255, 255);
    --bg-pink-color: #9e4868;
    --bg-blue-color: #8795a5;
    --bg-green-color: #4d7838;
    --bg-grey-color: grey;
}

* {
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-image: url("/assets/images/table.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 85vw;
    height: 99vh;
}

.card-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.deck-count {
    display: flex;
    padding: 10px 0 7px 0;
    width: 180px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--bg-color);
}

.card-board__items {
    display: flex;
    gap: 8px;
}

.card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 140px;

    color: var(--text-color);

    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;

    box-shadow: var(--shadow-color) 0 4px 12px;
    transition: transform 0.25s ease;
    cursor: pointer;
    user-select: none;
}

.card__label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 17px;
    font-weight: 600;
}

.image {
    width: 18px;
    height: 18px;
}

.card__image_top-right, .card__image_bottom-left {
    position: absolute;
}

.card__image_top-right {
    top: 8px;
    right: 10px;
}

.card__image_bottom-left {
    bottom: 8px;
    left: 10px;
    transform: rotate(180deg);
}

.card__image_size-m {
    width: 50px;
    height: 50px;
}

.card.selected {
    background-color: var(--highlight-bg);
    border: 2px solid var(--highlight-border);
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 8px;
    transform: scale(1.03);
}

.player-1, .player-2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.player-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 77%;
}

.player-info {
    display: flex;
    flex-direction: column;
    width: 23%;
    font-size: 18px;
    gap: 10px;
    color: var(--bg-color);
}

.field {
    display: flex;
    gap: 25px;
    padding: 20px;
    height: 60%;
    text-align: center;
    align-items: center;
    width: 62%;
    border-radius: 20px;
    cursor: pointer;
}

.pair-card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.card__defender {
    position: absolute;
    top: 60px;
    border: 2px solid rgb(129, 164, 129);
    background-color: rgb(185, 239, 185);
}

.trump-suit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 6px 12px;
    width: 180px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--bg-color);
    background-color: var(--bg-blue-color);
    border-radius: 8px;
}

.trump-image {
    width: 21px;
    height: 21px;
}

.player-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.player-actions__take-cards-button, .player-actions__done-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: var(--text-color-white);

    background-color: var(--bg-pink-color);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
}

.player-actions__done-button {
    background-color: var(--bg-green-color);
}

.player-actions__take-cards-button:disabled, .player-actions__done-button:disabled {
    background-color: var(--bg-grey-color);
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    width: 480px;
    padding: 1.3rem;
    min-height: 335px;
    position: fixed;
    z-index: 2;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-header__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-left: 10%;
    font-weight: 700;
    font-size: 23px;
}

.modal-header__button {
    display: flex;
    align-self: flex-end;
    padding: 0.5rem 0.7rem;
    background-color: #eee;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal-content__message {
    display: flex;
    flex-direction: row;
}

.player-name {
    font-weight: 700;
}

.modal-content__image {
    width: 35%;
    height: 35%;
}

.modal-content__button {
    padding: 0.5rem 1.45rem;
    font-weight: 700;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}